# Next.js build artefacts
.next/
out/
build/

# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage/

# Environment
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Prisma SQLite Database
prisma/*.db
prisma/*.db-journal

# Misc
.DS_Store
*.pem
